@model School_Project.Models.Student
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <h2>@Model.StudentFName @Model.StudentLName</h2>
    <ul>
        <li>Student ID: @Model.StudentId</li>
        <li>Student Number: @Model.StudentNumber</li>
        <li>Date of Enrollment: @Model.EnrolDate</li>
    </ul>
    <nav>
        <a class="navlink" href="/Student/List">Back to Student List</a>
        <a class="dellink" href="/Student/DeleteConfirm/@Model.StudentId">Delete</a>
    </nav>
</div>