@model School_Project.Models.Teacher
@{
    ViewBag.Title = "Show";
}



<div id="containershow">
    <h2>@Model.TeacherFName @Model.TeacherLName</h2>
    <ul>
        <li><strong>Teacher ID: </strong>@Model.TeacherId</li>
        <li><strong>Employee Number: </strong>@Model.EmployeNumber</li>
        <li><strong>Date of Hire: </strong>@Model.HireDate.ToString("MMMM-dd-yyyy")</li>
        <li><strong>Salary: </strong>@Model.Salary</li>
    </ul>
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teacher List</a>
        <a class="dellink" href="/Teacher/Deleteconfirm/@Model.TeacherId">Delete</a>
    </nav>
</div>

