@model School_Project.Models.Class
@{
    ViewBag.Title = "Show";
}



<div id="containershow">
    <h2>@Model.ClassCode - @Model.ClassName</h2>
    <ul>
        <li>Class ID: @Model.ClassId</li>
        <li>Teacher ID: @Model.TeacherId</li>
        <li>Start Date: @Model.StartDate</li>
        <li>Finish Date: @Model.FinishDate</li>
    </ul>
    <nav>
        <a class="navlink" href="/Class/List">Back to Class List</a>
        <a class="dellink" href="/Class/DeleteConfirm/@Model.ClassId">Delete</a>
    </nav>
</div>