@model School_Project.Models.Class
@{
    ViewBag.Title = "Show";
}



<div id="containershow">
    <h2>@Model.ClassCode - @Model.ClassName</h2>
    <ul>
        <li><strong>Class ID: </strong>@Model.ClassId</li>
        <li><strong>Teacher ID: </strong>@Model.TeacherId</li>
        <li><strong>Start Date: </strong>@Model.StartDate.ToString("MMMM-dd-yyyy")</li>
        <li><strong>Finish Date: </strong>@Model.FinishDate.ToString("MMMM-dd-yyyy")</li>
    </ul>
    <nav>
        <a class="navlink" href="/Class/List">Back to Class List</a>
        <a class="dellink" href="/Class/DeleteConfirm/@Model.ClassId">Delete</a>
    </nav>
</div>